<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.mapper.PushTreatMapper">

    <resultMap id="treatMap" type="com.study.model.DrugsMedicationModel">
        <id property="drugs" column="drugs"/>
        <result property="dSort" column="dSort"/>
        <result property="medication" column="medication"/>
        <result property="meRate" column="meRate"/>
    </resultMap>

    <!-- 获取疾病对应的药类和药-->
    <select id="getDrugsMedication" resultMap="treatMap">
        match (d:Disease)-[r0:推荐]->(m:Drugs)-[:包含]->(n:Medicine),(d:Disease)-[r1:推荐]->(n)
        where d.name=#{disName} and r0.p &lt;=6
        return m.name as drugs, r0.p as dSort, n.name as medication, r1.rate as meRate order by dSort , meRate desc
	</select>

    <!-- 获取疾病对应的药类和药-->
    <select id="getDrugsBIgShort" resultMap="treatMap">
        match (d:Disease)-[r0:推荐]->(m:Drugs)-[:包含]->(n:Drugs) - [r1:推荐]-(d:Disease)
        where d.name=#{disName} and r1.p &lt;=6
        with r0,r1,m.name as big,n.name as small
        return small as drugs, r0.p as dSort, big+'('+small+')' as medication, r1.rate as meRate
	</select>

    <!-- 获取疾病对应的禁用、慎用药-->
    <select id="getJinShenMedication"  resultMap="treatMap">
        match (n:Disease)-[:推荐]->(d:Medicine)-[r0:忌用|慎用]-(m)
        where n.name=#{disName} and m.name in #{inputs}
        return d.name as drugs,r0.p as dSort,type(r0) as medication,r0.rate as meRate
	</select>

    <!-- 获取疾病对应的禁用、慎用药类-->
    <select id="getJinShenDrugs"  resultMap="treatMap">
        match (n:Disease)-[:推荐]->(d:Drugs)-[r0:忌用|慎用]-(m)
        where n.name=#{disName} and m.name in #{inputs}
        return d.name as drugs,r0.p as dSort,type(r0) as medication,r0.rate as meRate
	</select>
</mapper>
